/vendor
/node_modules
/public/build
/public/hot
/public/storage

.env
.env.*

storage/*.key

/storage/app/*
!/storage/app/public

/storage/framework/cache/*
!/storage/framework/cache/.gitignore

/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore

/storage/framework/testing/*
!/storage/framework/testing/.gitignore

/storage/framework/views/*
!/storage/framework/views/.gitignore

/storage/logs/*
!/storage/logs/.gitignore

.phpunit.result.cache

.idea
.vscode

npm-debug.log
yarn-error.log

.DS_Store
